<link rel="stylesheet" href="/css/navbar.css">
<div class="navbar">
    <span class="navbtn" id="homebtn">
        <a href="/home"> Home </a>
    </span>
    <span class="navbtn" id="listbtn">
        <a href="/list"> List </a>
    </span>
    <span class="navbtn" id="yellbtn">
        <a href="/yell"> Yell </a>
    </span>
    <span class="navbtn" id="ifbtn">
        <a href="/if"> If </a>
    </span>
    <span class="navbtn" id="formsbtn">
        <a href="/forms"> Forms </a>
    </span>
</div>