@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Source+Sans+Pro&display=swap');

:root{
    font-family: 'Noto Sans JP', 'Source Sans Pro', sans-serif;
}

body{
    background-color: whitesmoke;
}

h1, h2, p{
    text-align: center;
}

img{
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

button{
    background-color: #4596a3;
    border: 0px;
    margin-top: 20px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    font-size: 24px;
    height: calc(24px*2.2);
}

button:focus, button:hover{
    background-color: #3c808a;
}


button:active{
    background-color: #2f656d;
}

.card{
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    background-color: #5edcee;
    border-radius: 10px;
    padding: 10px 10px 20px 10px;
    display: grid;
}

.card_hr{
    width: 80%;
    border: 1px solid black;
    border-radius: 4px;
}