@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Roboto&display=swap');

* {
    border-radius: 8px;
}

html{
    background: linear-gradient(to top, green, limegreen, white);
    min-height: 100%;
    background-repeat: no-repeat;
}

body{
    font-family: 'Noto Sans', sans-serif;
}

input{
    font-size: medium;
    border: none;
}

button{
    font-size: medium;
    border: none;
    cursor: pointer;
}

button:active{
    background-color: #AAA;
}