@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    color: #262626;
    font-size: 14px;
    line-height: 18px;
    font-family: 'Roboto', sans-serif;
}

.post{
    width: 450px;
    background-color: #fafafa;
    border: 1px solid #E8EAED;
    font-size: 14px;
    margin-bottom: 16px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
}

.content{
    width: 450px;
}

.header{
    display: flex;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.follow{
    color: #3897F0;
}

button{
    border: none;
    background: none;
    font-weight: inherit;
    font-family: inherit;
}

.acct{
    font-weight: 700;
}

.acct:active{
    color:grey;
}

.location:active{
    color:grey;
}

.locationinfo{
    line-height: 15px;
    font-size: 12px;
    font-family: inherit;
}

.info{
    margin-left: 10px;
}

.follow:active{
    color:#2e7dc7;
}

.atuser:active{
    color: #2e7dc7;
}

.verified{
    /*background-image: url(sprites.png);*/ /*extracted from Instagram itself*/
    background-size: 410px 396px;
    background-position: -164px -366px;
    height: 64px;
    width: 64px;
}

.dp{
    min-width: 32px;
    min-height: 32px;
    max-width: 32px;
    max-height: 32px;
    border-color: #EFEFEF;
    border-radius: 50%;
}

.userinfo{
    font-weight: 700;
}

.actions{
    display: inline-block; /*should be inline-block */
    /*background-image: url(sprites2.png);*/
    background-size: 411px 393px;
    height: 24px;
    width: 24px;
}

button, .atuser{
    font-weight: 600;
    color: black;
}

.likes{
    margin-left: 10px;
    margin-bottom: 8px;
}

.description{
    margin-left: 10px;
    margin-right: 10px;
}

.heart{
    background-position: 0px -319px;
}

.comment{
    background-position: -125px -294px;
}

.share{
    background-position: -200px -294px;
}

.bookmark{
    background-position: -175px -344px;
}

.atuser{
    color: #003469;
}

.date{
    font-family: inherit;
    color: #999;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 2px;
    margin-left: 10px;
    margin-top: 10px;
}