/*  
    ESCALONA, JOSE MIGUEL A. (エスカローナミゲル)
    CCAPDEV S16
    MC1
*/

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:root{
    /*Source: https://stackoverflow.com/a/17595596*/
    --primary: #246EB7;
    --accent: #00D4AB;
    --text-primary: #FFFFFF;
    --text-accent: #000000;
    --text-subtle: rgb(60, 60, 60);
    --text-link: #0094CF;
    /*Called as => foo: var(--bar);*/
}

a{
    color: var(--text-link);
}
html{
    max-width: 100%;
}

header{
    position: sticky;
    top: 0;
    border: 1px solid rgb(214,214,214);
    display: block;
    background-color: inherit;
    margin-top: -1%;
}

body{
    font-family: 'Lato', sans-serif;
    background-color: rgb(246,246,246);
}

/*Class Types*/
.post{
    width: 418px;
    height: fit-content;
    background: white;
    border: 1px solid rgb(214,214,214);
    margin: 10px auto;
}

.dpthumbnail{
    width: 64px;
    height: 64px;
    border-radius: 50%;
    border: 5px;
    border-style: solid;
    border-color: var(--primary);
}

.dpthumbnail:hover{
    border-color: var(--accent);
}

.thumbnail_div{
    margin-left: 4px;
    margin-right: 4px;
}

.thumbnail_id{ 
    text-align: center;
    color: var(--primary);
    font-weight: bold;
    margin-top: -1px;
}

.post_header{
    padding: 20px;
    background-color: var(--primary);
}

.post_title{
    font-weight: 600;
    color: var(--text-primary);
}

.post_date{
    color: var(--text-primary);
}

.post_content{
    width: 100%;
}

.post_footer{
    padding: 10px 20px;
}

.post_img{
    width: inherit;
}

.post_footer_buttons{
    width: 100%;
    height: 24px;
    display: inline-block;
}

.footer_button{
    height: 24px;
    background-size: 72px 24px;
}

.button_like{
    background-image: url('../image/spritesheet.png');
    background-size: inherit;
    background-position: 0px 0px;
    width: 24px;
    height: inherit;
}

.description_title{
    background-color: var(--accent);
    color: var(--text-accent);
    font-weight: 600;
    width: 380px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -12px;
}

.description_title_text{
    text-align: center;
}

.description_body{
    color: var(--text-subtle);
}

.post_footer_buttons{
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.footer_button{
    background-size: 72px 24px;
    display: inline-block;
    width: 24px;
    height: 24px;
}

.footer_button:hover{
    opacity: 50%;
}

.button_like{
    background-image: url('../image/spritesheet.png');
    background-position: 0px 0px;
}

.button_comment{
    background-image: url('../image/spritesheet.png');
    background-position: -24px 0px;
}

.button_save{
    background-image: url('../image/spritesheet.png');
    background-position: -48px 0px;
}

/*ID Types*/
#horizontal-line{
    width: 35%;
    height: 1px;
    background-color: var(--primary);
    border-style: none;
}

#header-title{
    text-align: center;
    color: var(--primary);
    margin-top: -1px;
    margin-bottom: -4px;
}

#header-dps{
    display: flex;
    position: relative;
    margin-left: auto;
    width: 100%;
    margin-bottom: -4px;
}

#header-dp-grid{
    display: inherit; 
    margin: auto auto auto auto;
}